{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baabtra.com</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="{% static 'image/baabtra.png' %}" alt="">
        </div>
        <div class="log">
            <button class="btn1"><i class="fa fa-lock" id="icon"></i>&nbsp; LOG IN</button><button class="btn2">REGISTER</button>
        </div>
       
    </div>
    <div class="home">
        <div class="a">
            <a href="baabtra">Home</a>
            <a href="course">Courses</a>
            <a href="contact">Contact Us</a>
        </div>

    </div>
    <center>
    <table border="1" cellspacing="0">
        <tr>
        <td colspan="2" class="head">Contact Us</td>
    </tr>
        <tr >
            <td >Name</td>
            <td><input type="text" class="input"></td>
        </tr>
        <tr >
            <td >Gender</td>
            <td><input type="radio" name="one">Male<input type="radio" name="one">Female</td>
        </tr>
        <tr >
            <td >Date of Birth</td>
            <td><input type="date"></td>
        </tr>
        <tr >
            <td >Mobile</td>
            <td><input type="text" class="input"></td>
        </tr>
        <tr >
            <td>Email</td>
            <td><input type="email" class="input"></td>
        </tr>
        <tr >
            <td>Address</td>
            <td><textarea name="" id="" cols="39" rows="5"></textarea></td>
        </tr>
        <tr>
            <td colspan="2" class="foot"><button>SUBMIT</button></td>
        </tr>
            
      
    </table><br><br><br>
</div>
</center>
<div class="footer">
    <div class="one">
        <p>Baabtra<br>Mentoring Partner</p>
    </div>
    <div class="two">

        <p><span> Email:</span>info@gmail.com<br>
        <span>Phone:</span>+918592058444</p>
    </div>
    <div class="three">
        <p><span>Address:</span><br>
        5th Floor,HiLite Business Park<br>
        Calicut</p>
    </div>
</div>
    
</body>
</html>